/* Пример CSS для модального окна */
.modal {
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.modal-content {
    background-color: #2c3e50;  /* Темный фон формы */
    color: white;  /* Белый цвет текста */
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    animation: slideIn 0.3s;
    z-index: 10000;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*.modal.input, .modal.select, .modal.textarea {*/
/*    width: 94%;*/
/*    padding: 8px;*/
/*    margin: 10px 0;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*}*/
.modal-input{
    width: 94%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal-select{
    width: 94%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal-textarea{
    width: 94%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


textarea {
    height: 100px;
}

.form-buttons {
    text-align: center;
}

.form-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-buttons button:hover {
    background-color: #0056b3;
}